<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>ADD PRODUCT</h2>
            <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content">
             Filtrar <input type="text" class="filtre" ng-model="filtro" >
             <button>Buscar</button><hr>                    
              <table>
                <tr>
                  <td>
                  <div id="data" height="auto" width="auto" ></div>
                 </td>
                </tr>
              </table> 
            </div>

           
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
