
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>ADD PRODUCT</h2>
            <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content">
             Filtrar <input type="text" class="filtre" ng-model="filtro" >
             <button>Buscar</button><hr>                    
              <table>
                <tr>
                  <td>
                  <div id="data" height="auto" width="auto" ></div>
                 </td>
                </tr>
              </table> 
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p id="identificador"></p>
          <p id="nombre"></p>
          <p id="ciudad"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

